body
	margin: 0px
	padding: 0px
	// font-family: "PT Mono", monospace
	background: #dfdfdf

body, input, button, h1, h2, h3, h4
	font-family: "Jura"

.left
	float: left
.right
	float: right

button, a
	cursor: pointer
