ul.accordion
	+header-height(32px)
	list-style: none
	box-shadow: 1px 1px 3px #aaa
	box-sizing: border-box
	border-radius: 3px
	background: #dfdfdf
	li
		+header-height(32px)
		cursor: pointer
		text-align: center
		font-size: 16px
		transition: background .5s
		> *
			+header-height(32px)
			float: left
		i.fa
			width: 32px
		> span
			display: inline-block
			text-align: left
			width: 0px
			opacity: 0
			transition: width .5s, opacity .3s .25s
		&:first-child
			border-radius: 3px 0px 0px 3px
		&:last-child
			border-radius: 0px 3px 3px 0px
		&.active
			background: #ededed
			> span
				opacity: 1
				+phone
					width: 0px!important
					opacity: 0
					visibility: hidden
		&:hover
			background: #f2f2f2
