.columns
	.tasks
		width: 25%
		height: 100%
		display: inline-block
		vertical-align: top
		li
			display: inline-block
			width: 100%
			font-size: 16px
			.task-name
				width: 60%
				height: auto
			> .task-users
				width: 40%
				height: auto
				text-align: right
				img
					+header-height(24px)
					margin: 4px 0px 4px 4px
			.task-project
				width: 50%
			.task-status
				display: none
			.task-time
				width: 50%
				text-align: right
				> *
					margin: 0px 3px
			.task-est, .task-ass
				width: 50%
