#view
	width: 100%
	overflow-y: scroll
	position: absolute
	padding: 20px
	top: 48px
	bottom: 0px
	left: 0px
	right: 0px
.tasks
	+no-margin-padding
	padding: 3px
	display: inline-block
	width: 100%
	list-style: none
	li.task
		display: inline-block
		margin: 0px 0px 7px 0px
		padding: 0px
		box-shadow: 1px 1px 3px #aaa
		box-sizing: border-box
		border-radius: 3px
		background: #fafafa
		> *
			+header-height(38px)
			float: left
			box-sizing: border-box
			padding: 0 15px
h2
	+header-height(32px)
	padding-top: 2px
	line-height: 30px
	margin: 0px 0px 11px 0px
	box-shadow: 1px 1px 3px #aaa
	box-sizing: border-box
	border-radius: 3px
	display: block
	font-size: 18px
	text-align: center
	background: #eee
