header
	+header-height(64px)
	padding: 0px 10px
	display: block
	position: relative
	font-size: 14px
	span
		+header-height(64px)
		margin: 0px 30px
	img
		+header-height(64px)
		position: absolute
		top: 0px
		left: 50%
		margin-left: -24px
	ul
		+header-height(36px)
		margin: 14px
		list-style: none
		box-shadow: 1px 1px 3px #aaa
		box-sizing: border-box
		border-radius: 3px
		li
			+header-height(36px)
			cursor: pointer
			width: 40px
			text-align: center
			font-size: 16px
			transition: background .5s
			&:first-child
				border-radius: 3px 0px 0px 3px
			&:last-child
				border-radius: 0px 3px 3px 0px
			&.active
				background: #ededed
			&:hover
				background: #f2f2f2
			i
				+header-height(36px)
