header
	+header-height(64px)
	padding: 0px 20px
	display: block
	position: relative
	> img.logo
		+header-height(64px)
		position: absolute
		top: 0px
		left: 50%
		margin-left: -32px
		transition: transform .2s
		transform: scale(1, 1) translate(0, 0)
		cursor: pointer
		&:hover
			transform: scale(1.2, 1.2) translate(0, 0)
	ul.toolbar
		+header-height(32px)
		margin: 17px 0px
		> li
			+header-height(32px)
			padding: 0px 5px
			display: block
			float: left
			> a.fa
				font-size: 18px
				width: 20px
				text-align: center
	button, .btn
		+header-height(32px)
		float: left
		font-size: 16px
		border: 0px
		background: #ededed
		box-shadow: 1px 1px 3px #aaa
		box-sizing: border-box
		border-radius: 3px
		outline: none
		vertical-align: middle
		> span, > i, > img
			+header-height(32px)
			padding: 0px 0px 0px 7px
			float: left
		> img:first-child
			padding: 0px
			border-radius: inherit
			border: 1px solid #333
		> .fa
			padding: 0px 7px
			text-align: center
			&::before
				+header-height(32px)
				vertical-align: bottom
		&:hover
			background: #f2f2f2
	
	
